<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/rabbit
     http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!--配置connection-factory，指定连接rabbit server参数 -->
    <rabbit:connection-factory id="connectionFactory" host="${encryption.rabbit.host}" port="${encryption.rabbit.port}"
                               publisher-confirms="true" publisher-returns="true"
                               virtual-host="${encryption.rabbit.virtual.host}" username="${encryption.rabbit.username}"
                               password="${encryption.rabbit.password}"/>

    <!--通过指定下面的 admin 信息，当前 producer 中的 exchange 和 queue 会在 rabbitmq 服务器上自动生成 -->
    <rabbit:admin connection-factory="connectionFactory"/>

    <!-- json转换器，消息可以自动根据转换器转换格式，不配置时默认为java序列化，可以自行配置 -->
    <bean id="messageConverter" class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter"/>

    <rabbit:queue name="loginRecordQueue" durable="true" auto-delete="false" exclusive="false"/>

    <rabbit:direct-exchange name="monitorExchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding key="monitor.login.record" queue="loginRecordQueue"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!--定义rabbit template用于数据的接收和发送 -->
    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory" exchange="monitorExchange"
                     message-converter="messageConverter"/>

    <rabbit:annotation-driven/>

    <bean id="rabbitListenerContainerFactory"
          class="org.springframework.amqp.rabbit.config.SimpleRabbitListenerContainerFactory">
        <property name="messageConverter" ref="messageConverter"/>
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="concurrentConsumers" value="2"/>
        <property name="maxConcurrentConsumers" value="10"/>
    </bean>

</beans>