<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozf.laiyw.manage.dao.mapper.DictionariesMapper">

    <resultMap id="dictionariesMap" type="com.ozf.laiyw.manage.model.Dictionaries">
        <id property="id" column="d_id"/>
        <result property="name" column="d_name"/>
        <result property="identification" column="d_identification"/>
        <result property="description" column="d_description"/>
        <result property="updateTime" column="d_update_time"/>
        <result property="status" column="d_status"/>
    </resultMap>

    <resultMap id="allDictItem" type="com.ozf.laiyw.manage.model.Dictionaries">
        <result property="identification" column="d_identification"/>
        <collection property="dictionariesItemList" ofType="com.ozf.laiyw.manage.model.DictionariesItem"
                    javaType="java.util.ArrayList"
                    select="getDictionariesItemByDid" column="d_id"/>
    </resultMap>

    <resultMap id="dictionariesItemMap" type="com.ozf.laiyw.manage.model.DictionariesItem">
        <id property="id" column="di_id"/>
        <result property="dictId" column="d_id"/>
        <result property="dictName" column="d_dict_name"/>
        <result property="itemName" column="di_name"/>
        <result property="itemValue" column="di_value"/>
        <result property="status" column="di_status"/>
        <result property="sort" column="di_sort"/>
        <result property="description" column="di_description"/>
        <result property="updateTime" column="di_update_time"/>
    </resultMap>

    <select id="getAllDictItem" resultMap="allDictItem">
        select * from t_sys_dictionaries where d_status = 1 order by d_name
    </select>

    <update id="updateDictionariesStatus">
        update t_sys_dictionaries set d_status = 0 where d_id = #{id}
    </update>

    <update id="updateDictionariesItemStatus">
        update t_sys_dictionaries_item set di_status = 0 where di_id = #{id}
    </update>

    <select id="getDictionariesById" resultMap="dictionariesMap">
         select * from t_sys_dictionaries where d_id = #{id}
    </select>

    <select id="getDictionariesItemById" resultMap="dictionariesItemMap">
        select item.*, dict.d_name as d_dict_name from t_sys_dictionaries_item item
        left join t_sys_dictionaries dict on item.d_id = dict.d_id
        where item.di_id = #{id}
    </select>

    <select id="getAllDictionaries" resultMap="dictionariesMap">
        select * from t_sys_dictionaries where d_status = 1 order by d_name
    </select>

    <select id="getDictionariesItemByDid" resultMap="dictionariesItemMap">
        select item.*, dict.d_name as d_dict_name from t_sys_dictionaries_item item
         left join t_sys_dictionaries dict on item.d_id = dict.d_id
         where item.di_status = 1 and dict.d_id = #{dictId} order by item.di_sort desc
    </select>

    <select id="getDictionariesItemByIdentification" resultMap="dictionariesItemMap">
        select item.*, dict.d_name as d_dict_name from t_sys_dictionaries_item item
         left join t_sys_dictionaries dict on item.d_id = dict.d_id
         where item.di_status = 1 and dict.d_identification = #{identification} order by item.di_sort desc
    </select>

    <insert id="saveDictionaries" parameterType="com.ozf.laiyw.manage.model.Dictionaries">
        insert into t_sys_dictionaries(
            d_id,
            d_name,
            d_identification,
            d_description,
            d_update_time
        )
        values(
            #{id, jdbcType=VARCHAR},
            #{name , jdbcType=VARCHAR},
            #{identification , jdbcType=VARCHAR},
            #{description , jdbcType=VARCHAR},
            #{updateTime , jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateDictionaries" parameterType="com.ozf.laiyw.manage.model.Dictionaries">
        update t_sys_dictionaries set
            d_name = #{name , jdbcType=VARCHAR},
            d_description = #{description , jdbcType=VARCHAR},
            d_update_time = #{updateTime , jdbcType=VARCHAR}
        where d_id = #{id, jdbcType=VARCHAR}
    </update>

    <insert id="saveDictionariesItem" parameterType="com.ozf.laiyw.manage.model.DictionariesItem">
        insert into t_sys_dictionaries_item(
            di_id,
            d_id,
            di_name,
            di_value,
            di_description,
            di_update_time,
            di_sort
        )
        values(
            #{id, jdbcType=VARCHAR},
            #{dictId , jdbcType=VARCHAR},
            #{itemName , jdbcType=VARCHAR},
            #{itemValue , jdbcType=VARCHAR},
            #{description , jdbcType=VARCHAR},
            #{updateTime , jdbcType=VARCHAR},
            #{sort}
        )
    </insert>

    <update id="updateDictionariesItem" parameterType="com.ozf.laiyw.manage.model.DictionariesItem">
        update t_sys_dictionaries_item set
            di_name = #{itemName , jdbcType=VARCHAR},
            di_value = #{itemValue , jdbcType=VARCHAR},
            di_description = #{description , jdbcType=VARCHAR},
            di_update_time = #{updateTime , jdbcType=VARCHAR},
            di_sort = #{sort}
        where di_id = #{id, jdbcType=VARCHAR}
    </update>

</mapper>