<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozf.laiyw.manage.dao.mapper.LogMapper">

    <resultMap id="logMap" type="com.ozf.laiyw.manage.model.Log">
        <id property="id" column="ml_id"/>
        <result property="clientIp" column="client_ip"/>
        <result property="operatingSystemName" column="operating_system_name"/>
        <result property="browser" column="browser"/>
        <result property="agent" column="ml_agent"/>
        <result property="requestURI" column="request_uri"/>
        <result property="requestMethod" column="request_method"/>
        <result property="requestParameter" column="request_parameter"/>
        <result property="operationTime" column="operation_time"/>
        <result property="operationUsername" column="operation_username"/>
        <result property="responseTime" column="response_time"/>
        <result property="isError" column="is_error"/>
        <result property="errorMessage" column="error_message"/>
        <result property="operationDescription" column="operation_description"/>
    </resultMap>

    <select id="queryLog" resultMap="logMap">
        select * from t_sys_monitor_log
        where 1 = 1
        <if test="operationDescription != null and operationDescription != ''">
            <bind name="pattern" value="'%' + operationDescription + '%'" />
            and operation_description like #{pattern}
        </if>
        <if test="operationUsername != null and operationUsername != ''">
            <bind name="pattern" value="'%' + operationUsername + '%'"/>
            and operation_username like #{pattern}
        </if>
        <if test="clientIp != null and clientIp != ''">
            <bind name="pattern" value="'%' + clientIp + '%'"/>
            and client_ip like #{pattern}
        </if>
        <if test="operatingSystemName != null and operatingSystemName != ''">
            <bind name="pattern" value="'%' + operatingSystemName + '%'"/>
            and operating_system_name like #{pattern}
        </if>
        <if test="browser != null and browser != ''">
            <bind name="pattern" value="'%' + browser + '%'"/>
            and browser like #{pattern}
        </if>
        <if test="requestURI != null and requestURI != ''">
            <bind name="pattern" value="'%' + requestURI + '%'"/>
            and request_uri like #{pattern}
        </if>
        <if test="requestMethod != null and requestMethod != ''">
            <bind name="pattern" value="'%' + requestMethod + '%'"/>
            and request_method like #{pattern}
        </if>
        <if test="isError != null and isError != ''">
            and is_error = #{isError}
        </if>
        <if test="operationTime != null and operationTime != ''">
            and date_format(operation_time, '%Y-%m-%d %H:%i') <![CDATA[ >= ]]> date_format(#{sd}, '%Y-%m-%d %H:%i')
            and date_format(operation_time, '%Y-%m-%d %H:%i') <![CDATA[ <= ]]> date_format(#{ed}, '%Y-%m-%d %H:%i')
        </if>
        order by operation_time desc
    </select>

    <select id="detailLog" resultMap="logMap">
        select * from t_sys_monitor_log where ml_id = #{id}
    </select>

    <insert id="saveLog" parameterType="com.ozf.laiyw.manage.model.Log">
        insert into t_sys_monitor_log(
          ml_id,
          client_ip,
          operating_system_name,
          browser,
          ml_agent,
          request_uri,
          request_method,
          request_parameter,
          operation_time,
          operation_username,
          response_time,
          is_error,
          error_message,
          operation_description
        )
        values(
          #{id, jdbcType=VARCHAR},
          #{clientIp , jdbcType=VARCHAR},
          #{operatingSystemName , jdbcType=VARCHAR},
          #{browser , jdbcType=VARCHAR},
          #{agent, jdbcType=VARCHAR},
          #{requestURI , jdbcType=VARCHAR},
          #{requestMethod , jdbcType=VARCHAR},
          #{requestParameter, jdbcType=VARCHAR},
          #{operationTime, jdbcType=VARCHAR},
          #{operationUsername, jdbcType=VARCHAR},
          #{responseTime, jdbcType=VARCHAR},
          #{isError, jdbcType=VARCHAR},
          #{errorMessage, jdbcType=VARCHAR},
          #{operationDescription, jdbcType=VARCHAR}
        )
    </insert>

</mapper>